---
http_interactions:
- request:
    method: delete
    uri: https://api.xero.com/practicemanager/3.0/client.api/contact/14574323
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bad_token
      xero-tenant-id:
      - 'XERO_TENANT_ID'
      content_type:
      - application/xml
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer error=invalid_token
      xero-correlation-id:
      - 973905d0-d2c7-4689-9d2d-4032c6439ccc
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Type":null,"Title":"Unauthorized","Status":401,"Detail":"AuthenticationUnsuccessful","Instance":"973905d0-d2c7-4689-9d2d-4032c6439ccc","Extensions":{}}'
  recorded_at: Tue, 05 May 2020 04:10:48 GMT
recorded_with: VCR 5.1.0
