---
http_interactions:
- request:
    method: post
    uri: https://api.xero.com/practicemanager/3.0/job.api/add
    body:
      encoding: UTF-8
      string: "<Job><Name>Brochure Design</Name><Description>Detailed description
        of the job</Description><ClientID>24097642</ClientID><StartDate>20291023</StartDate><DueDate>20291028</DueDate></Job>"
    headers:
      Authorization:
      - Bearer bad_token
      xero-tenant-id:
      - '0791dc22-8611-4c1c-8df7-1c5453d0795b'
      content_type:
      - application/xml
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer error=invalid_token
      xero-correlation-id:
      - 6b6e378d-c2df-4e97-a22f-fba11ebcac42
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Type":null,"Title":"Unauthorized","Status":401,"Detail":"AuthenticationUnsuccessful","Instance":"6b6e378d-c2df-4e97-a22f-fba11ebcac42","Extensions":{}}'
  recorded_at: Tue, 05 May 2020 04:07:12 GMT
recorded_with: VCR 5.1.0
