---
http_interactions:
- request:
    method: get
    uri: https://api.workflowmax.com/v3/template.api/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TEST=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <Response api-method="List"><Status>OK</Status><Templates><Template><UUID>d5dd52a0-edc1-4b03-94e7-931aa34ab35c</UUID><Name>Activity
        Statement</Name></Template><Template><UUID>cba9fc47-66d0-47b7-bd4a-b53ffab0a374</UUID><Name>Annual
        Accounts</Name></Template><Template><UUID>4cd8e997-a3bf-4fe6-bc14-3ce95bb8a559</UUID><Name>ASIC
        Annual Review</Name></Template><Template><UUID>e170bd93-3f9f-46b9-be19-d20e07d1557a</UUID><Name>Consulting</Name></Template><Template><UUID>bd2cacb8-b33f-43f3-86a3-c310334820cb</UUID><Name>FBT
        Nil Return</Name></Template><Template><UUID>62afa781-ce32-4f1e-b4a3-dfbe67d0fc17</UUID><Name>FBT
        Return</Name></Template><Template><UUID>e9eb654f-00eb-47aa-b31d-8c29e97c97f1</UUID><Name>SMSF
        Annual Accounts</Name></Template><Template><UUID>02f7a557-ab38-4ebc-98c8-070b74aea2da</UUID><Name>Tax
        Return - Company NIL</Name></Template><Template><UUID>2164f12e-fafe-4ce8-a43b-e3d8f40768ec</UUID><Name>Tax
        Return - Individual</Name></Template><Template><UUID>c4d21933-c10e-4c1c-b75f-9f5c77e9c428</UUID><Name>Xero
        Consulting</Name></Template><Template><UUID>e68aaf24-3d18-485c-9e49-00c1b0158cec</UUID><Name>Xero
        Setup/Conversion</Name></Template></Templates></Response>
  recorded_at: Mon, 27 Apr 2020 05:44:33 GMT
recorded_with: VCR 5.1.0
