---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/practicemanager/3.0/template.api/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XERO_ACCESS_TOKEN
      xero-tenant-id:
      - 'XERO_TENANT_ID'
      content_type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      x-daylimit-remaining:
      - '4993'
      x-minlimit-remaining:
      - '59'
      xero-correlation-id:
      - b39cac4b-26ce-4fea-a65e-89804077699d
      akamai-age-ms:
      - '1588118029828'
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: <Response api-method="List"><Status>OK</Status><Templates><Template><ID>1254074</ID><Name>Activity
        Statement</Name></Template><Template><ID>1254068</ID><Name>Annual Accounts</Name></Template><Template><ID>1254069</ID><Name>ASIC
        Annual Review</Name></Template><Template><ID>1254071</ID><Name>Consulting</Name></Template><Template><ID>1254072</ID><Name>FBT
        Nil Return</Name></Template><Template><ID>1254073</ID><Name>FBT Return</Name></Template><Template><ID>1254070</ID><Name>SMSF
        Annual Accounts</Name></Template><Template><ID>1254075</ID><Name>Tax Return
        - Company NIL</Name></Template><Template><ID>1254076</ID><Name>Tax Return
        - Individual</Name></Template><Template><ID>1254077</ID><Name>Xero Consulting</Name></Template><Template><ID>1254078</ID><Name>Xero
        Setup/Conversion</Name></Template></Templates></Response>
  recorded_at: Tue, 28 Apr 2020 23:53:49 GMT
recorded_with: VCR 5.1.0
