---
http_interactions:
- request:
    method: post
    uri: https://api.workflowmax.com/v3/client.api/add
    body:
      encoding: UTF-8
      string: |-
        <Client>
          <Name>Acmer Pty Ltd</Name>
        </Client>
    headers:
      Authorization:
      - Basic
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <Response api-method="Add"><Status>OK</Status><Client><UUID>9f868ba7-437c-4574-9a17-8c6f4890545b</UUID><Name>Acmer
        Pty Ltd</Name><Address></Address><City></City><Region></Region><PostCode></PostCode><Country></Country><PostalAddress></PostalAddress><PostalCity></PostalCity><PostalRegion></PostalRegion><PostalPostCode></PostalPostCode><PostalCountry></PostalCountry><Phone></Phone><Fax></Fax><Website></Website><ReferralSource></ReferralSource><ExportCode></ExportCode><IsProspect>No</IsProspect><IsArchived>No</IsArchived><IsDeleted>No</IsDeleted><Contacts
        /><Notes /><Groups /><Relationships /></Client></Response>
  recorded_at: Tue, 28 Apr 2020 01:52:48 GMT
recorded_with: VCR 5.1.0
