---
http_interactions:
- request:
    method: get
    uri: https://api.workflowmax.com/v3/staff.api/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TEST=
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <Response api-method="List"><Status>OK</Status><StaffList><Staff><UUID>8c79202e-caf8-4a12-a3d7-ac338e50741f</UUID><Name>Dev
        Testing</Name><Email>dev@practiceignition.com</Email><Phone></Phone><Mobile></Mobile><Address></Address><PayrollCode></PayrollCode></Staff><Staff><UUID>2fd3a292-eeeb-4dea-9deb-0b0d3e2a8e4e</UUID><Name>Ed
        Minn</Name><Email>luis+edminn@practiceignition.com</Email><Phone></Phone><Mobile></Mobile><Address></Address><PayrollCode></PayrollCode></Staff><Staff><UUID>54b0dace-1e82-4403-8b87-2d5874db28e6</UUID><Name>Jana
        Paulech</Name><Email>jana@practiceignition.com</Email><Phone></Phone><Mobile></Mobile><Address></Address><PayrollCode></PayrollCode></Staff><Staff><UUID>3be259b2-68f8-4bce-8dc5-4d7004d41[...]
