---
http_interactions:
- request:
    method: post
    uri: https://api.workflowmax.com/v3/job.api/add
    body:
      encoding: UTF-8
      string: "<Job><Name>Brochure Design</Name><Description>Detailed description
        of the job</Description><ClientUUID>e349fc1b-d92d-4ba2-b9fc-69fdd516e2a2</ClientUUID><StartDate>20291023</StartDate><DueDate>20291028</DueDate></Job>"
    headers:
      Authorization:
      - Basic TEST=
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <Response api-method="Add"><Status>OK</Status><Job><ID>J000028</ID><UUID>a979d2ef-0085-4f2b-b0dc-274847e1044c</UUID><Name>Brochure
        Design</Name><Description>Detailed description of the job</Description><Client><UUID>e349fc1b-d92d-4ba2-b9fc-69fdd516e2a2</UUID><Name>ABC
        Co</Name></Client><ClientOrderNumber></ClientOrderNumber><State>Planned</State><StartDate>2029-10-23T00:00:00</StartDate><DueDate>2029-10-28T00:00:00</DueDate><Assigned
        /><Tasks /><Milestones /><Notes /></Job></Response>
  recorded_at: Tue, 28 Apr 2020 02:16:29 GMT
recorded_with: VCR 5.1.0
