---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/practicemanager/3.0/job.api/update
    body:
      encoding: UTF-8
      string: "<Job><ID>J000029</ID><Name>Brochure Design UPDATED</Name><Description>Detailed
        description of the job</Description><ClientID>24097642</ClientID><StartDate>20291023</StartDate><DueDate>20291028</DueDate></Job>"
    headers:
      Authorization:
      - Bearer bad_token
      xero-tenant-id:
      - 'XERO_TENANT_ID'
      content_type:
      - application/xml
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer error=invalid_token
      xero-correlation-id:
      - 23986fb7-2c64-463c-9e0f-c24a86f97fd7
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Type":null,"Title":"Unauthorized","Status":401,"Detail":"AuthenticationUnsuccessful","Instance":"23986fb7-2c64-463c-9e0f-c24a86f97fd7","Extensions":{}}'
  recorded_at: Tue, 05 May 2020 04:09:28 GMT
recorded_with: VCR 5.1.0
