---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/practicemanager/3.0/staff.api/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bad_token
      xero-tenant-id:
      - '0791dc22-8611-4c1c-8df7-1c5453d0795b'
      content_type:
      - application/xml
  response:
    status:
      code: 503
      message: Unavailable
    headers:
      content-type:
      - application/json
      www-authenticate:
      - Bearer error=invalid_token
      xero-correlation-id:
      - 1f5a84cd-152b-418d-a0b1-e351fa131d05
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: '{"Type":null,"Title":"Unavailable","Status":503,"Detail":"ServiceNotAvailable","Instance":"1f5a84cd-152b-418d-a0b1-e351fa131d05","Extensions":{}}'
  recorded_at: Tue, 05 May 2020 03:52:34 GMT
recorded_with: VCR 5.1.0
