---
http_interactions:
- request:
    method: delete
    uri: https://api.xero.com/practicemanager/3.0/client.api/contact/14574323
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
      xero-tenant-id:
      - 'XERO_TENANT_ID'
      content_type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      x-appminlimit-remaining:
      - '9999'
      x-daylimit-remaining:
      - '4983'
      x-minlimit-remaining:
      - '59'
      xero-correlation-id:
      - fc3f4eb9-a9e0-456c-8c02-28e9f5aec8c5
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: <Response api-method="Contact"><Status>OK</Status><Contact><ID>14574323</ID><Name>some
        guy person</Name><Mobile></Mobile><Email></Email><Phone></Phone><Position></Position><Salutation></Salutation><Addressee></Addressee><IsPrimary>No</IsPrimary></Contact></Response>
  recorded_at: Mon, 04 May 2020 05:10:25 GMT
recorded_with: VCR 5.1.0
