---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/practicemanager/3.0/client.api/list?detailed=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
      xero-tenant-id:
      - 'XERO_TENANT_ID'
      content_type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      x-appminlimit-remaining:
      - '9999'
      x-daylimit-remaining:
      - '4972'
      x-minlimit-remaining:
      - '59'
      xero-correlation-id:
      - 07755f0d-dd8e-454c-93e6-916421447d25
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: <Response api-method="List"><Status>OK</Status><Clients><Client><ID>24097642</ID><Name>ABC
        Co</Name><Address></Address><City></City><Region></Region><PostCode></PostCode><Country></Country><PostalAddress></PostalAddress><PostalCity></PostalCity><PostalRegion></PostalRegion><PostalPostCode></PostalPostCode><PostalCountry></PostalCountry><Phone></Phone><Fax></Fax><Website></Website><ReferralSource></ReferralSource><ExportCode></ExportCode><IsProspect>No</IsProspect><IsArchived>No</IsArchived><IsDeleted>No</IsDeleted><TaxNumber></TaxNumber><CompanyNumber></CompanyNumber><BusinessNumber></BusinessNumber><BranchNumber></BranchNumber><GSTRegistered>No</GSTRegistered><PrepareGST>No</PrepareGST><SignedTaxAuthority>No</SignedTaxAuthority><AgencyStatus>Unlinked</AgencyStatus><PrepareActivityStatement>No</PrepareActivityStatement><PrepareTaxReturn>No</PrepareTaxReturn><ActiveAtoClient>No</ActiveAtoClient><Contacts><Contact><ID>14436062</ID><Name>Bob</Name><Mobile></Mobile><Email>bob@abc.com</Email><Phone></Phone><Position></Position><Salutation></Salutation><Addressee></Addressee><IsPrimary>No</IsPrimary></Contact></Contacts><UUID>e349fc1b-d92d-4ba2-b9fc-69fdd516e2a2</UUID></Client><Client><ID>25698376</ID><Name>Accountants
        101</Name><Address></Address><City></City><Region></Region><PostCode></PostCode><Country></Country><PostalAddress></PostalAddress><PostalCity></PostalCity><PostalRegion></PostalRegion><PostalPostCode></PostalPostCode><PostalCountry></PostalCountry><Phone></Phone><Fax></Fax><Website></Website><ReferralSource></ReferralSource><ExportCode></ExportCode><IsProspect>No</IsProspect><IsArchived>No</IsA[...]
