---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/practicemanager/3.0/staff.api/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XERO_ACCESS_TOKEN
      xero-tenant-id:
      - 'XERO_TENANT_ID'
      content_type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      x-daylimit-remaining:
      - '4994'
      x-minlimit-remaining:
      - '59'
      xero-correlation-id:
      - e4487879-7b32-4ecf-b340-4483c145be02
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><Response api-method="List"><Status>OK</Status><StaffList><Staff><ID>859230</ID><Name>Adam Silver</Name><Email>dev@practiceignition.com</Email><Phone /><Mobile /><Address /><PayrollCode /></Staff></StaffList></Response>
  recorded_at: Tue, 28 Apr 2020 23:48:01 GMT
recorded_with: VCR 5.1.0
