---
http_interactions:
- request:
    method: post
    uri: https://api.xero.com/practicemanager/3.0/staff.api/delete
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Staff>
          <ID>859318</ID>
        </Staff>
    headers:
      Authorization:
      - Bearer access_token
      xero-tenant-id:
      - 'xero_tenant_id'
      content_type:
      - application/xml
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      xero-correlation-id:
      - b3cdf1e3-7491-4665-9aa7-a9509ab2211d
      x-appminlimit-remaining:
      - '9999'
      x-minlimit-remaining:
      - '59'
      x-daylimit-remaining:
      - '4944'
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: <Response api-method="Delete"><Status>OK</Status></Response>
  recorded_at: Fri, 16 Apr 2021 11:05:55 GMT
recorded_with: VCR 5.1.0
