---
http_interactions:
- request:
    method: get
    uri: https://api.workflowmax.com/v3/staff.api/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: <Response api-method="List"><Status>OK</Status><StaffList><Staff><UUID>aa93a24c-0633-4885-b104-7b4e43cc702e</UUID><Name>Jane Doe</Name><Email>jane@test.com</Email><Phone></Phone><Mobile></Mobile><Address></Address><PayrollCode></PayrollCode></Staff><Staff><UUID>1cc99c1e-8cf7-4248-ab84-3e11126facbc</UUID><Name>John Doe</Name><Email>john@test.com</Email><Phone></Phone><Mobile></Mobile><Address></Address><PayrollCode></PayrollCode></Staff></StaffList></Response>
  recorded_at: Mon, 27 Apr 2020 02:07:19 GMT
recorded_with: VCR 5.1.0
