---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/practicemanager/3.0/staff.api/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XERO_ACCESS_TOKEN
      xero-tenant-id:
      - 'XERO_TENANT_ID'
      content_type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      x-daylimit-remaining:
      - '4994'
      x-minlimit-remaining:
      - '59'
      xero-correlation-id:
      - e4487879-7b32-4ecf-b340-4483c145be02
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: <Response api-method="List"><Status>OK</Status><StaffList><Staff><ID>859230</ID><Name>Dev
        Testing</Name><Email>dev@practiceignition.com</Email><Phone></Phone><Mobile></Mobile><Address></Address><PayrollCode></PayrollCode></Staff><Staff><ID>859317</ID><Name>Ed
        Minn</Name><Email>luis+edminn@practiceignition.com</Email><Phone></Phone><Mobile></Mobile><Address></Address><PayrollCode></PayrollCode></Staff><Staff><ID>858949</ID><Name>Jana
        Paulech</Name><Email>jana@practiceignition.com</Email><Phone></Phone><Mobile></Mobile><Address></Address><PayrollCode></PayrollCode></Staff><Staff><ID>859231</ID><Name>Nick
        Dainty</Name><Email>nick@practiceignition.com</Email><Phone></Phone><Mobi[...]
