---
http_interactions:
- request:
    method: put
    uri: https://api.xero.com/practicemanager/3.0/staff.api/update
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <Staff>
          <ID>1044994</ID>
          <Name>Joe Bloggs</Name>
          <Address>Updated Address</Address>
          <Phone>87654321</Phone>
          <Email>bloggsjoe@foo.com</Email>
          <PayrollCode>PC456</PayrollCode>
        </Staff>
    headers:
      Authorization:
      - Bearer access_token
      xero-tenant-id:
      - 'xero_tenant_id'
      content_type:
      - application/xml
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      xero-correlation-id:
      - 848e7b7f-9b99-45e7-8595-b97b40734796
      x-appminlimit-remaining:
      - '9999'
      x-minlimit-remaining:
      - '59'
      x-daylimit-remaining:
      - '4940'
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: <Response api-method="Update"><Status>OK</Status><Staff><ID>1044994</ID><Name>Joe
        Bloggs</Name><Email>bloggsjoe@foo.com</Email><Phone>87654321</Phone><Mobile></Mobile><Address>Updated
        Address</Address><PayrollCode>PC456</PayrollCode></Staff></Response>
  recorded_at: Fri, 16 Apr 2021 11:15:09 GMT
recorded_with: VCR 5.1.0
